.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 60%;
    height: 40px;
    font-size: 20px;
    border-radius: 3px;
}

.video-item img {
    max-width: 64px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

.videoContent {
    display: inline-flex;
    margin-left: 50px;
    width: 70%;
    height: 80%;
}

.VideoList {
    margin-left: 40%;
}