.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 60%;
    height: 40px;
    font-size: 20px;
    border-radius: 3px;
}

.video-item img {
    max-width: 64px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

.VideoList {
    margin-left: 40%;
}

.VideoPlayer {
    display: flex;
}

.VideoPlay {
    width: 50%;
    height: auto;
}

.VideoPlayList {
    width: 45%;
    height: auto;
}

.videoContent {
    width: 700px;
    height: 370px;
    margin-left: 60px;
}

.VideoTitle {
    width: 630px;
    height: auto;
    margin-left: 130px;
    margin-top: 20px;
    background-color: #cac7c7;
    align-content: center;
    padding: 20px;
}